.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__logo-img {
    width: 40px;
}

.navbar__header {
    margin-left: 6px;
}

.navbar__nav {
    display: flex;
    align-items: center;
}

.navbar__registration {
    margin-left: 6px;
}

.navbar__login {
    cursor: pointer;
}